body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.cuerpo {
    display: flex;
    height: 100vh;
}

.izq {
    flex: 1;
    background-color: #0165a8;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    font-family: Arial;
    text-align: center;
}

.der {
    flex: 3;
    padding: 20px;
    font-family: Arial;
}

img[src]{
    border: 1px solid;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#nombre {
    color:rgb(255, 255, 255);
    font-size: 30px;
}

#contacto {
    color:rgb(255, 255, 255);
    font-size: 25px;
}

#numero{
    color:rgb(255, 255, 255);
    font-size: 15px;
}

#correo{
    color:rgb(255, 255, 255);
    font-size: 15px;
}

.titulo {
    color:rgb(1,101,168)
}

p {
    color:rgb(0, 0, 0);
    font-size: 15px;
}

.izqDer {
    display: flex;
}

#izq2{
    flex: 1;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: left; 
    text-align: left;
    justify-content: flex-start;
    font-family: Arial;
    
}

.titulo_idi{
    color:rgb(1,101,168);
    font-size: 15px;
    margin-left:45px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

#der2{
    flex: 2;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: left; 
    text-align: left;
    justify-content: flex-start;
    font-family: Arial;
}
